<div class="grid-container">
    <div class="top-row-container">
        <div>
            <button mat-flat-button color="primary" (click)="onEditClicked()">Edit</button>
        </div>

        <div>
            <button mat-flat-button color="primary">
                View
            </button>
        </div>
    </div>

    <ag-grid-angular style="height: 350px; width: 100%;" class="ag-theme-alpine" [gridOptions]="gridConfig?.gridOptions"
        [rowData]="gridConfig?.rows" [columnDefs]="gridConfig?.gridOptions?.columnDefs"
        [defaultColDef]="gridConfig?.gridOptions?.defaultColDef" (gridReady)="onGridReady($event)"
        (firstDataRendered)="gridConfig?.gridOptions?.onFirstDataRendered($event)"></ag-grid-angular>


    <div class="bottom-row-container">
        <div>
            <button mat-flat-button color="warn" class="remove-btn">Remove</button>
            <button mat-flat-button color="primary" class="add-btn">Add</button>
        </div>
    </div>
</div>