<div class="grid-container">
    <div class="top-row-container">
        <div>
            <button> Edit </button>
        </div>

        <div>
            <button>Remove</button>
            <button>Add</button>
        </div>

        <div>
            <button>
                View
            </button>
        </div>
    </div>

    <ag-grid-angular style="height: 350px; width: 100%;" class="ag-theme-alpine" [gridOptions]="gridConfig?.gridOptions"
        [rowData]="gridConfig?.rows" [columnDefs]="gridConfig?.gridOptions?.columnDefs"
        [defaultColDef]="gridConfig?.gridOptions?.defaultColDef" (gridReady)="onGridReady($event)"
        (firstDataRendered)="gridConfig?.gridOptions?.onFirstDataRendered($event)"></ag-grid-angular>
</div>