/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

$default-button-margin: 0.3rem;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialog-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-btn {
  margin-right: $default-button-margin;
}

.middle-btn {
  margin: 0 $default-button-margin;
}

.right-btn {
  margin-left: $default-button-margin;
}
